*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Urbanist', sans-serif;
}
main{
    background: white;
}
html{
    scroll-behavior: smooth;
}
header {
    position: absolute;
    display:flex;
    justify-content: space-between;
    width:100%;
    max-width:9900px;
    margin: auto;
    height: 95px;
}
#home {
    display:flex;
    justify-content: space-between;
    position: relative;
    right: 0;
    width: 100%;
    height: 95px;
    max-width: 9999px;
    margin: auto;
    align-items: center;
}
.nonebar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    width: 300px;
    height: auto;
}
.navbar{   
    z-index: 999;
    display:flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    right: 0;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 20px 0px;
} 
.menu-links{
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: 100%;
    max-width: 1400px;
    padding: 0 50px;
    margin: auto;
    align-items: center;  
}
.menu-linksbtn ul{
    list-style: none;
    display: flex;
    margin: 0 auto;
    justify-content:space-between;
    width:650px;
    border-radius: 35px;
    padding: 16px 44px;
    text-align: center;
    background-color: #082f4250;
}
.menu-linksbtn a {
    display:block;
    text-align: center;
    padding: 8px 16px;
    border-radius: 30px;
    text-decoration:none;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing:1px
}
.menu-linksbtn a:hover{
    color: #082F42;
    transition: 0.2s all ease-in-out;
}
.menusocial{
    right: 0;
    width:355px;
    display: flex;
    text-align: right;
    justify-content:space-between;
    gap: 8px;
}
.menusocial ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content:space-between;
    text-align: center;
    gap: 8px;
}
.menusocial ul a {
    text-decoration:none;
    cursor: pointer;
    align-items: center;
}
.callnow{
    display: flex;
    color: #082F42;
    background-color: #fff;
    border-radius: 30px;
    justify-content: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    align-items: center;
    text-align: center;
    padding: 5px 3px;
    width: 170px;
    text-decoration: none;
    gap: 9px;
}
.callnow p{
    font-size: 14px;
}
.logo-m{
    z-index: 9;
    display:block;
    width: 90px;
    }
.menu-linksbtn a:hover,
.menu-linksbtn a.active {
  transition: 0.5s ease-out;
  letter-spacing: 1.2px;
} 
.btn-toggle{display: none;}
.call-m{display:none;}
@media only screen and (max-width: 1200px) {
    .nonebar{display: none;}
    .call-m{
        position: absolute;
        z-index: 99;
        display:block;
        top: 20px;
        left: 15px;
    }
    .call-m img{width: 90px;}
  .box{
    width: fit-content;
    height: 0vh;
    position: relative;
    text-align: left;
    z-index: 1;
    opacity: 0;
    left: -500px;
    pointer-events: none;
    transition: 0.3s;
  }
.btn-toggle {
    position:absolute;
    right:30px;
    top:10px;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    width:15px;
    height:15px;
}
.btn-toggle .bar {
    height:3px;
    width:100%;
    border-radius:20px
}
  .active_box{
    opacity: 1;
    left: 0px;
    pointer-events: fill;
  }
  .menu_icon_box{
    display: block;
    z-index: 2;
    width: fit-content;
    height: auto;
    margin: 20px;
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
  }
  .line1 , .line2 , .line3{
    width: 20px;
    height: 3px;
    margin: 4px 0px;
    background-color: #fff;
    border-radius: 50px;
    transition: 0.2s;
  }
  .active .line1{
    transform: translate(0px , 15px)rotate(45deg);
  }
  .active .line2{
    opacity: 0;
  }
  .active .line3{
    transform: translate(0px , 1px)rotate(-45deg);
  }
  .imglogo-m{
      position: absolute;
      display: block;
      z-index: 999;
      left: 1.9rem;
      top: 0.6rem;
  }
  .imglogo-m img{
      width: 100%;
      max-width: 70px;
      margin: auto;
      padding: 0px;
  }
  .menu-links{
    background-color: #082f42;
    flex-direction: column;
    align-items:center;
    margin-top: 0px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 40px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    height:100%
  }
  .menu-linksbtn ul{
    width: 100%;
    background-color: transparent;
    padding: 0;
  }
  .menu-links ul{
      display: block;
      margin-right: 0px;
  }
  .menu-linksbtn{
      display: flex;
  }
  .menu-linksbtn a{
    background-color: transparent;
    color: #fff;
    line-height: 100%;
  }
  .menusocial ul{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex: 90%;
    max-width: 170px;
    justify-content: center;
    margin: 10px auto;
  }
  .menusocial ul li {
    width: 50px;
  }
  .menusocial ul li:first-child {
    width: 170px;
  }
  .socialgettouch{
      display: flex;
      white-space: nowrap;
      height: 49px;
      gap: 8px;
      margin-bottom: 10px;
      border-radius: 20px;
  }
  .menu-links.active{
      margin: auto;
      margin-top: 70px;
  display:flex;
  }
  .menusocial.active {
      display:flex
  }
  .navbar {
    z-index: 1;
  padding:0px 0px;
  }
  #home {
  display:flex;
  flex-direction:column;
  text-align: right;
  align-items: end;
  }   
}
.goldsvg{
    width: 62px;
    margin: auto;
    margin-top: 16px;
}
.videocontainer{
    position: relative;
    display:flex;
    flex-direction: column;
    width: 100%;
    max-width: 9999px;
    margin: auto;
    background-color:transparent;
    max-height: 800px;
}
.videoimg video{
    display: block;
    max-height: 800px;
    width: 100%;
    object-fit: cover;
}
.videop{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width:100%;
    max-width: 1400px;
    margin: auto;
    padding: 130px 50px 0 50px;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* BACKGROUND VIDEO COM COR MAIS ESCURA */
.videocontainer:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #082F42;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}
.videop img{
    max-width: 450px;
    width: 100%;
    height: 100%;
    margin: auto;
}
.videop p svg{display: none;}
@media screen and (max-width:1250px) {
    .videop img{
        max-width: 290px;
        width: 100%;
        height: 100%;
        margin: auto;
    }
}
@media screen and (max-width:1080px) {
    .videocontainer{
        max-height: 900px;
    }
    .videoimg video{
        width: 100%;
        height:900px;
        object-position: bottom;
    }
    .videop img{
        max-width: 200px;
        width: 100%;
        height: 100%;
        margin: auto;
        margin-bottom:48px;
        padding-top: 50px;
    }
    .videop{
        flex-direction: column;
        padding: 0;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.bg-blue{
    background: linear-gradient(#184D66 0%, #082F42 100%);
}
.servicescontainer{
    position: relative;
    width: 100%;
    max-width: 9999px;
    margin: auto;
    padding: 70px 0 0 0;
}
.services{
    display: flex;
    width: 100%;
    max-width: 9999px;
    margin: auto;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.servicestitle{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding-bottom: 60px;
    color: #fff
}
.servicestitle p{
    font-size:18px;
    font-weight: 900;

}
.servicestitle h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 74px;
    font-weight: 900;
    max-width: 550px;
    margin: auto;
}
.servicestitle h3{
    margin-top: 32px;
    font-size: 22px;
}
.listareas{
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    justify-content: center;
    gap: 36px;
    text-align: left;
    margin-top: 32px;
    padding-left: 45px;
    font-size: 16px;
    line-height: 130%;
    font-weight: 500;
}
.listareas ul{
    text-decoration: dotted;
}
:root {
    --swiper-navigation-color: #eee;
    --swiper-pagination-color: #333333cc;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
}
swiper-slider{
  overflow: hidden;
}
.mySwiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1350px;
    height: 100%;
    cursor: grab;
    margin: auto !important;
    padding-bottom: 40px;
}
.mySwiper:host{
    --swiper-theme-color: #fff;
}
.swiper1 {
  display: flex;
  font-size: 18px;
  justify-content: center;
  width: 100%;
  max-width: 313px;
  height: 417px;
  border-radius: 30px;
  margin-left: 15px;
  margin-bottom: 50px;
  overflow: hidden;
}
.swiper1 img {
  width: 100% !important;
  max-width: none !important;
  margin: auto;
  justify-content: start;
  object-fit: cover !important;
  object-position: center;
}
.cardinfos svg{
    position: absolute;
    top: 33px;
    left: 24px;
}
.cardinfos h6{
    font-size: 24px;
    position: absolute;
    font-weight: 500;
    line-height: 140%;
    color: #fff;
    max-width: 140px;
    bottom: 75px;
    left: 24px;
}
.servicesbtn{
    position: absolute;
    bottom: 24px;
    left: 24px;
    display: flex;
    justify-content: center;
    list-style: none;
    border: none;
    color: #fff;
    border-radius: 16px;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    width: 150px;
}
@media screen and (max-width:900px) {
    .listareas{
        justify-content: center;
        text-align: left;
        gap: 28px;
        font-size: 12px;
        padding-left: 5px;
    }
    .swiper1 {
        margin-left: 52px;
    }
}
.contactbtn, .reviewscontainer button{
    display: flex;
    justify-content: center;
    list-style: none;
    border: none;
    color: #082F42;
    border-radius: 16px;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    cursor: pointer;
    width: 190px;
    margin: auto;
    margin-bottom: 46px;
}
.parallaximg{
    width: 100%;
    max-width: 9999px;
    margin: auto;
    height: 400px;
    background-image: url(../assets/parallaximg.webp);
    background-attachment: fixed;
    background-position: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}
.aboutcontainer{
    position: relative;
    width: 100%;
    max-width: 9999px;
    margin: auto;
}
.about{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding:90px 0 70px 0;
    color: #FFF;
    font-family: 'Urbanist';
}
.aboutimgprinc{
    width: 100%;
    max-width: 360px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
}
.abouttext{ 
    display: flex;
    flex-direction: column; 
    text-align: center;
    margin: auto;
}
.abouttext h2{
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: 600;
}
.abouttext p{
    max-width: 370px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin: auto;
    margin-top: 36px;
}
/* .reveal{
    position: relative;
    transform: translateX(-150%);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active{
    transform: translateX(0%);
    opacity: 1;
} */
@media screen and (max-width:1100px) {
    .parallaximg{
        height: 400px;
        background-attachment: inherit;
    }
    .aboutcontainer{
        max-height: auto;
        padding: 50px 0 0;
    }
    .about{
        padding:0 20px;
        flex-direction: column;
    }
    .aboutimgprinc{
        margin-top: 30px;
    }
    /* .about h2{
        margin-bottom: 40px;
    } */
    .abouttext{ 
        max-width: 900px;
        margin: auto;
        margin-top: 0px;
    }
    .abouttext p{
        font-size: 14px;
    }
    .abouttext p span{
        font-size: 55px;
        line-height: 110%;
    }
    .abouttext h6{
        letter-spacing: 0.6;
    }
}
.preferencecontainer{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 9999px;
    margin: auto;
}
.aboutimgbg{
    width: 100%;
    max-width: 583px;
    margin: auto;
    border-radius: 20px;
}
.preferencegrid{
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding: 0;
    display: flex;
}
.preferencecard{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: transparent;
    width: 150px;
    border-radius: 20px;
    gap: 16px;
}
.preferencecard img{
    width: 100%;
    margin: auto;
    max-width: 88px;
}
.preferencecard h5{
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
    width: 139px;
}
.selogoogle{
    width: 100%;
    max-width: 335px
}
@media screen and (max-width: 1170px) {
    .preference {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 10px;
    }
    .preference h3{
        width: 252px;
        font-size: 30px;
    }
    .preference p{
        width: 344px;
        font-size: 16px;
        margin-top: 25px;
    }
    .preferencegrid{
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
    .preferencecard{
        padding-bottom: 30px;
        max-width: 250;
        margin: auto;
        margin-top: 0;
    }
    .preferencecard:last-child{
        padding-bottom: 0;
    }
    .preferencecard img{
        max-width: 73px;
    }
    .preferencecard h5{
        font-size: 14px;
    }
    .preferencecard p{
        font-size: 12px;
    }
    .selogoogle{
        display: flex;
        max-width: 305px;
        margin: auto;
    }
}
.portifoliocontainer{
    width: 100%;
    max-width: 9999px;
    margin: auto;
    padding: 70px 0px;
    height: auto;
    background-color: #fff;
}
.portifolio{
    width: 100%;
    max-width: 9999px;
    margin: auto;
}
.portifoliotitle{
    font-family: 'Urbanist', sans-serif;
    color: #003D5A
}
.portifoliocontainer .portifoliotitle h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 60px;
}
.portifoliotitle h2 svg{
    margin-top: 16px;
}
.portifoliotitle p{
    display: block;
    max-width: 447px;
    text-align: center;
    margin: auto;
    font-size:16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    margin-bottom: 50px;
}

swiper-container.mySwiper2 {
  width: 100%;
  max-width: 9999px;
  height: 670px;
  cursor: grab;
  margin: 0 auto !important;
}
swiper-slide.swiper2 {
  width: 100%;
  max-width:610px;
  border-radius: 30px;
  margin-left: 0px;
  padding-bottom: 50px;
}
.swiper2 img {
  width: 100% !important;
  max-width: 600px !important;
  margin: auto;
  border-radius: 25px;
  justify-content: start;
  object-fit: cover !important;
  object-position: center;
}
@media screen and (max-width:890px) {
.portifoliocontainer{
    padding: 50px 0;
}
swiper-container.mySwiper2 {
  height: 440px;
  cursor: grab;
  margin: 0 !important;
}
swiper-slide.swiper2 {
  max-width: 410px;
  margin-left: 17px;
}
.swiper2 img {
  max-width: 450px !important;
  margin: auto;
}
}
.bgs-web{
    display: block;
    pointer-events: none;
    position: absolute;
    width: 100%;
    object-fit: cover;
    max-width: 9999px;
    max-height: 100%;
    flex-shrink: 0;
    z-index: 0;
}
.bgs-mob{display: none;}
.reviewscontainer{
    position: relative;
    width: 100%;
    max-width: 9999px;
    margin: auto;
    height: 100%;
    background-color: #f8efcd;
    height:790px;
}
.review{
    display: block;
    width: 100%;
    max-width: 9999px;
    margin: auto;
    padding: 0;
}
.reviewstitle{
    color: #082F42;
    text-align: center;
}
.reviewstitle h2{
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    max-width: 150px;
    margin: auto;
    padding: 70px 0 36px 0;
    font-size: 32px;
    font-weight: 600;
}
.reviewstitle h2 svg{
    margin-left: 42px;
}
.reviewstitle p{
    width: 100%;
    max-width: 570px;
    margin: auto;
    font-size: 16px;
    font-weight: 600px;
}
.reviewsgrid{
    margin-bottom: 30px;
    height: 250px;
}
.reviewsgrid script{
    height: 200px;
}
.mySwiper3{
    width: 100%;
    max-width:9990px;
    height: 100%;
    max-height: 390px;
    cursor: pointer;
    margin:auto;
}
.swiper3 {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    max-width: 335px;
    border-radius: 23px;
    background-color: #fff;
    margin-left: 17px;
    padding: 18px 16px;
    height: 350px;
}
.swiper3 .reviewcard{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
}
.swiper3 svg{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px;
}
.swiper3 p{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    color: #000;
    margin: auto;
    padding: 0 15px;
}
.swiper3 h2{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #000;
}
@media screen and (max-width: 1490px) {
    .bgs-web{
        display: none;
    }
    .bgs-mob{
        display: block;
        pointer-events: none;
        position: absolute;
        width: 100%;
        object-fit: cover;
        max-width: 2999px;
        max-height: 100%;
        flex-shrink: 0;
        z-index: 0;
    }
}
@media screen and (max-width: 890px) {
    .reviewscontainer{
        height:820px;
    }
}
.formgrid{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 9999px;
    margin: auto;
    max-height: 1100px;
    margin: auto;
    padding: 0px 0;
    z-index: 9999;
}
.forminfos{
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: auto;
    color: #FFF;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 50px 0;
}
.forminfos .logofooter{
    width:290px;
    margin-bottom: 50px;
}
.form {
    z-index: 9999;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 380px;
    height:480px;
    margin: auto;
    justify-content: right;
    background-color: #082f4250;
    padding: 20px 10px;
    margin-bottom: 50px;
}
.form h2{
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
    margin: auto;
    color: #fff;
    margin-bottom: 20px;
}
.formfooter h2{
    color: #fff;    
}
form {
    position: relative;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: right;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}
form input, textarea, select{
    width: 100%;
    list-style: none;
    padding: 20px;
    height: 40px;
    z-index: 9999;
}
form input{
    height:  46px;    
    z-index: 9999;
}
form textarea{
    padding: 20px;
}
form button{
    margin-top: 15px;
    width: 100px;
    list-style: none;
    border: none;
    color: #082F42;
    border-radius: 16px;
    padding: 10px;
    margin: auto;
    font-weight: 600;
    background-color: #fff;
    cursor: pointer;
}
form button:hover{
    background-color: #ffffffec;
    transition: 0.7s;
}
@media screen and (max-width:1290px) {
    .formgrid{
        max-height: 999px;
        padding: 0;
    }
}
@media screen and (max-width:1070px) {
    .formgrid{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        max-width: 9999px;
        margin: auto;
        height: 1000px;
        margin: auto;
        max-height: 1070px;
    }
    .logofooter{
        max-width: 250px;
    }
    .bgs-mob{
        height: 1200px;
    }
    .forminfos{
        padding: 0px 10px;
    }
    .form{
        width: 300px;
        margin: auto;
        /* height: 420px; */   
    }
    .form h2{
        font-size: 18px;
    }
}
.faqcontainer{
    height: auto;
    background-color: #fff;
    padding-bottom: 90px;
}
.faqtitle p{
    font-size: 18px;
    font-weight: 800;
}
.faqtitle small img{
    display: flex;
    font-weight: 500;
    margin-right: 8px;
}
.faqtitle small{
    display: flex; 
    margin: 30px auto;
    justify-content: center;
    font-size: 18px
}

.mySwiper4{
    width: 100%;
    max-width: 1199px;
    height: 413px;
    margin: auto;
}
.mySwiper4 swiper-slide{
    width: 100%;
    max-width: 292px;
    height: 100%;
    padding-bottom: 40px;
}
/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1639px;
    margin: auto;
    height: 373px;
    padding: 0 70px;
}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 282px;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 300px;
  /* border-radius: 30px; */
  /* border: 3px solid #082F42; */
  backface-visibility: hidden;
  overflow: hidden;
}
.thefront img{
  border-radius: 30px;
    width: 100%;
    height: 100%;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
    display: flex;
    flex-direction: column;
    justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 300px;
  height: 100%;
  border-radius: 30px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fff;
  border: 3px solid #082F42;
  padding: 40px 20px;
  text-align: center;
  transform: rotateY(180deg);
}

/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h6, .theback h6{
  color: #082F42;
  font-size: 18px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 1.5;
  text-align: center;
} 

@media screen and (max-width:1200px) {
    .maincontainer{
        max-width: 1000px;
        flex-wrap: wrap;
        margin: auto;
        row-gap: 28px;
        padding: 0 70px;
    }
}
@media screen and (max-width:900px) {
    .servicestitle small{
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 0;
        margin: 0;
    }
    .maincontainer{
        justify-content: center;
        max-width: 500px;
        padding: 0 0 0 25px;
    }
    .listareas{
        justify-content: center;
        text-align: left;
        gap: 28px;
        font-size: 12px;
        padding-left: 5px;
    }
}
footer{
    position: relative;
    width: 100%;
    max-width: 9999px;
    margin: auto;
    height: auto;
    background-color: #082F42;
    color: #fff;
}
.footergrid{
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    padding: 50px;
}
.footerinfos{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width:600px;
}
.footermenu1{
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0 auto;
}
.footermenu1 ul li, .hours ul li{
    list-style: none !important;
    text-decoration: none;
}
.footermenu1 ul li a, .hours ul li a {
    text-decoration: none !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    line-height: 130%;
}
.footermenu1 ul li a:hover {
    color: #ffffffaf;
    transition: 0.5s;
}
.footermenu1 ul, .hours ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    color: #fff;
    text-decoration: none !important;
}
.footerimglogo, .hours{
    display: flex;
    justify-content: center;
    width: auto;
}
.footerimglogo img{
    display: block;
    margin: auto;
    width: 150px;
}
.footersocials{
    display: flex;
    flex-direction: column;
    line-height: 130%;
    width: auto;
    margin: 0 auto;
}
.footersocials p{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
}
.footersocials ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.footersocials h6, .footersocials h5{
    font-size: 16px;
}
.footersocials ul a{
    text-decoration: none;
}
.rights{
    position: relative;
    height: 81px;
    width: 100%;
    max-width: 9999px;
    margin: auto;
    padding: 34px 0;
    background-color: #082F42;
    align-items: center;
    text-align: center;
    border-top: 1px solid #D3C58D;
}
.rights p{
    color: #D3C58D;
    font-size: 14.4px;
    font-weight: 500;
    line-height: 150%;
}
@media screen and (max-width: 870px) {
    .footergrid{
        flex-direction: column;
        padding: 10px;
    }
    .footerimglogo img{
        margin-top: 20px;
    }
    .footerimglogo ul{
        margin-top: 0px;
    }
    .footerinfos{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
        margin: 36px auto;
    }
    .footermenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        margin: auto;
        text-align: center;
        margin-top: 36px;
        padding-bottom: 40px;
    }
    .footernav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        margin: auto;
        text-align: center;
        margin-bottom: 36px;
    }
    .footersocials ul {
        text-align: center;
        justify-content: center;
    }
    .rights{
        flex-direction: column;
        padding: 40px 10px;
    }
    .rights p{
        font-size: 12px;
        margin-bottom: 10px;
    }
}
.popuptest{
    position: relative;
    width: 100%;
    max-width: 9999px;
    margin: auto;    
    padding: 50px 50px 0;
}
.popupgrid{
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    justify-content: center;
}
.popup .content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 680px;
    z-index: 99;
    gap: 32px;
    padding: 200px 30px 100px 30px;
    color: #fff;
    font-family: 'Urbanist';
}
.popupimg{
    width: 100%;
    max-width: 700px;
    margin: auto;
    flex-shrink: 1;
}
.callnowpopup{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 8px 6px;
    color:#003D5A;
    background-color: #fff;
    border-radius: 72px;
    width:180px;
}
.callnowpopup a{
    display: flex;
    font-size: 16px;
    font-weight: 800;
    gap: 9px;
    line-height: 100%;
    align-items: center;
    text-decoration: none; 
}
.callnowpopup:hover svg{
    fill: #fff;
    transition: 0.2s all ease-in-out;
}
.popup .content .popttlbtn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.callnowpopup{
    margin-left: 0;
}
.popup .content h1{
    display: flex;
    flex-direction: column;
    font-size: 74px;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
}
.popup .content p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
@media screen and (max-width:800px) {
    .popuptest{padding: 0 0 30px;}    
}

a{
    text-decoration: none;
    color: inherit;
}
.callnow:hover, .contactbtn:hover, .form button:hover{
    text-decoration: none;
    background-color: #082F42;
    color: #FFF;
    transition: 0.2s ease-in-out;
}
.servicesbtn:hover{
    color: #082F42;
    background-color: #FFF;
    transition: 0.2s ease-in-out;
}
.callnow:hover svg{
    fill: white;
    transition: 0.2s ease-in-out;
}